<!DOCTYPE html>
<html lang="en"
xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 
   <link rel="stylesheet" th:href="@{'/css/login.css'}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: cornflowerblue;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-bank" style="margin-right: 10px;" viewBox="0 0 16 16">
                    <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
                </svg>
                Online Banking System
            </a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">About Us</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contact Us</a>
                    </li>
                </ul>
                 <ul class="navbar-nav  ml-auto">
              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                Registration
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/onlinebankapplication/adminRegister}">Register As Admin</a></li>
                  <li><a class="dropdown-item" th:href="@{/onlinebankapplication/userRegister}">Register As User</a></li>
                </ul>
              </li>  
              <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/onlinebankapplication/login}">Login</a>
            </li>
          </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-primary">
                    <h2 class="text-center text-white"> Forgot Password</h2>
                </div>
                <div class="card-body">
                    <form method="POST"  onsubmit="validateOTP(event);">
						<div id="loaderOverlay" class="loader-overlay d-none">
    						<div class="loader-spinner"></div>
						</div>
                        <div class="form-group">
                            <label for="exampleInputOTP1" class="text-white">Enter the OTP</label>
                            <input type="text" class="form-control"  name="otp" id="otpId" aria-describedby="emailHelp" placeholder="Enter OTP">
                          	<p id="validateOTP"></p>
                         </div>
                         <p class="text-white">Enter the OTP immediately.OTP is expired after 30 seconds.</p>
                      	<p id="otpTimer" class="text-white">
                        </div>
                         <div class="d-flex justify-content-between mt-n2" style="position: relative; top: -10px;">
            					<button type="button" class="btn btn-primary " onclick="resetLoginForm();"><a th:href="@{${baseUrlForLogin}+'login'}" class="text-white" style="cursor:pointer; text-decoration: none;">
   								 Back
								</a></button>
           					    <button type="submit" class="btn btn-primary">
                          			  Next
                       		    </button>
                         </div>
       					 </div>
                      </form>
                </div>
            </div>
        </div>    
    </div>
</div>
<input type="hidden" id="baseUrl" name="baseUrl" th:value="${baseUrl}"/>
<input type="hidden" id="isEmailValidate" value=""/>
</body>
<script type="module" th:src="@{'/js/login.js'}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>